/* Reset default values at the start */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body,
html {
  height: 100%;
}

/* Add a font */
body {
  font: 1.5rem "Montserrat", sans-serif;
}

/* Background image */
.bgimg {
  background: url(/images/forest.webp) no-repeat center center / cover;
  height: 100%;
  position: relative;
  color: #ffffff;
}

.dropbtn {
  background-color: #ff8c00;
  color: #ffffff;
  padding: 1em;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.dropbtn:is(:hover, :focus) {
  background-color: #ff4500;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fffafa;
  min-width: 6.7em;
  overflow: auto;
  box-shadow: 8px 8px 8px 0px rgba(255, 165, 0, 0.4);
}

.dropdown-content a {
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

.middle,
.icons {
  position: absolute;
  left: 50%;
}

/* Position text in the middle */
.middle {
  top: 50%;
  translate: -50% -50%;
  text-align: center;
}

strong {
  font-size: 200%;
  font-weight: bold;
}

p + p {
  font-size: 2rem;
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}

/* Position icons at the bottom */
.icons {
  bottom: 0;
  translate: -50% -25%;
}

a {
  font-size: 3rem;
  color: #ff0000;
}

.icons a:hover {
  opacity: 0.5;
}

.icons a:first-child {
  display: inline-block;
  margin-right: 90px;
}

/* Creating a Linear Text Gradient */
p + p {
  color: transparent;
  background-image: linear-gradient(to right, #f83600, #f9d423);
  background-clip: text;
}
