body,
html {
  height: 100%;
  margin: 0;
}

.bgimg {
  background: url(/images/forest.webp) no-repeat center center / cover;
  height: 100%;
  position: relative;
  color: #ffffff;
  font: 1.5rem "Courier New", monospace;
}

.middle,
.icons {
  position: absolute;
}

.middle {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  text-align: center;
}

span {
  font-size: 200%;
  font-weight: bold;
}

p + p {
  font-size: 2rem;
}

hr {
  margin: auto;
  width: 40%;
}

.icons {
  bottom: 0;
  left: 50%;
  translate: -50% -25%;
}

a {
  font-size: 3rem;
  color: #ff0000;
}

.icons a:hover {
  opacity: 0.5;
}

.icons a:first-child {
  display: inline-block;
  margin-right: 90px;
}
